.form__label {

    width: 100%;
    max-width: 300px;
    display: inline-block;
    margin-right: 5px;
    padding: 20px;
    font-size: 22px;

}

.form__field {

    border: 2px solid hsla(225, 100%, 2%, 0.555);
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    max-width: 400px;
}

.form__field:required {
    border-color: hsla(229, 88%, 29%, 0.555);

}

.form__button {

    width: 100%;
    border: 3px solid hsla(231, 88%, 3%, 0.555);
    background-color: hsla(229, 61%, 85%, 0.557);
    border-radius: 10px;
    padding: 10px;
    font-size: 22px;

}

.form__button:hover {

    background-color: hsla(229, 61%, 65%, 0.557);

}

.form__button:active {

    background-color: hsla(229, 81%, 95%, 0.557);

}

.form__fieldset {

    border: 2px solid hsla(227, 88%, 3%, 0.555);
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px

}

.form__legend {

    background-color: hsla(229, 61%, 85%, 0.557);
    border-radius: 10px;
    padding: 20px;

}

.form__description {

    padding: 10px;
    display: inline-block;
    font-size: 18px;

}